# https://gitlab.syncad.com/hive group specification, offering aggregated package view: https://gitlab.syncad.com/groups/hive/-/packages
@hiveio:registry=https://gitlab.syncad.com/api/v4/groups/136/-/packages/npm/
public-hoist-pattern[]=@hive/*
public-hoist-pattern[]=!@hive/wallet
public-hoist-pattern[]=!@hive/auth
public-hoist-pattern[]=!@hive/blog