/_dev
/.travis.yml
/.prettierrc.yml
/TODO
/README.md
/LICENSE
/src
/.DS_Store
/sample
/tslint.json
/tsconfig.json
/tsconfig.lint.json
/tsconfig.build.json
*.test.ts
/dist/browser/statistics.html
.gitlab-ci.yml
.mocharc.yml
.nvmrc
.eslintrc
.prettierrc.js
.husky
.run
browser-test
webpack.config.js
.idea
coverage