@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 20%;
    --background-secondary: 0 0% 97%;
    --background-tertiary: 214, 32%, 91%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --card-no-content: 102, 50%, 96%;
    --card-empty-border: 0, 0%, 93%;

    --border: 0, 0%, 93%;
    --input: 214.3 31.8% 91.4%;

    --primary: 221, 27%, 13%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0, 70%, 51%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210, 10%, 19%;
    --foreground: 213 31% 91%;
    --background-secondary: 210, 11%, 15%;
    --background-tertiary: 217, 19%, 27%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --card-no-content: 207, 21%, 8%;
    --card-empty-border: 210, 10%, 19%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 350, 85%, 48%; /* red */
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)):after,
.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)):before {
  content: none;
}

.twitter-tweet,
.instagram-embed {
  display: flex;
  justify-content: center;
}

#twitter-widget-0 {
  border-radius: 15px;
}
.pull-left {
  float: left;
  padding-right: 1rem;
  max-width: 50%;
}

.pull-right {
  float: right;
  padding-left: 1rem;
  max-width: 50%;
}

.preview-description,
.preview-rules {
  @apply text-xs;
}
.preview-description p,
.preview-rules p {
  margin: 0;
  padding: 0 0 1rem 0;
}
.preview-description ul,
.preview-rules ul {
  margin: 0;
  padding: 0;
  list-style-type: '-';
}

.preview-description ul li,
.preview-rules ul li {
  margin: 0;
}

.preview-description ul > li,
.preview-rules ul > li {
  @apply py-1;
}
.prose a.link-external,
.prose a {
  position: relative;
  display: inline-block;
}
.prose a.link-external:after {
  content: '';
  background: url(./assets/external-icon.svg);
  background-size: cover;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  top: 0.05em;
  left: 0.1em;
  margin-right: 0.1em;
  opacity: 0.5;
}

.prose .phishy {
  display: inline;
  color: red;
}

#articleBody .videoWrapper,
.prose .videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#articleBody .videoWrapper iframe,
.prose .videoWrapper iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 75vw;
}

.markdown-view {
  word-wrap: break-word;
  word-break: break-word;
  hyphens: none;
}

.dark .w-md-editor-text .token.title {
  color: #fff !important;
}

details {
  padding: 10px 10px;
  outline-offset: 2px;
  background-color: #f8f8f8;
  outline: dotted 1px #f8f8f8;
  margin: 10px 0;
}

.dark details {
  background-color: #2c2c2c;
  outline: dotted 1px #2c2c2c;
}
summary {
  text-align: right;
  cursor: pointer;
}

.flexible-marker {
  padding: 2px 4px;
  border-radius: 3px;
  opacity: 0.8;
}

.flexible-marker-amber {
  background-color: rgb(255, 191, 0);
  color: rgb(0, 0, 0);
}
.flexible-marker-blue {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
}
.flexible-marker-cyan {
  background-color: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
}
.flexible-marker-brown {
  background-color: rgb(165, 42, 42);
  color: rgb(255, 255, 255);
}
.flexible-marker-espresso {
  background-color: rgb(99, 57, 33);
  color: rgb(255, 255, 255);
}
.flexible-marker-fuchsia {
  background-color: rgb(255, 0, 255);
  color: rgb(255, 255, 255);
}
.flexible-marker-green {
  background-color: rgb(0, 128, 0);
  color: rgb(255, 255, 255);
}
.flexible-marker-hotpink {
  background-color: rgb(255, 105, 180);
  color: rgb(0, 0, 0);
}
.flexible-marker-indigo {
  background-color: rgb(75, 0, 130);
  color: rgb(255, 255, 255);
}
.flexible-marker-jade {
  background-color: rgb(0, 168, 107);
  color: rgb(0, 0, 0);
}
.flexible-marker-kiwi {
  background-color: rgb(142, 229, 63);
  color: rgb(0, 0, 0);
}
.flexible-marker-lime {
  background-color: rgb(0, 255, 0);
  color: rgb(0, 0, 0);
}
.flexible-marker-magenta {
  background-color: rgb(255, 0, 255);
  color: rgb(255, 255, 255);
}
.flexible-marker-navyblue {
  background-color: rgb(0, 0, 128);
  color: rgb(255, 255, 255);
}
.flexible-marker-orange {
  background-color: rgb(255, 165, 0);
  color: rgb(0, 0, 0);
}
.flexible-marker-purple {
  background-color: rgb(128, 0, 128);
  color: rgb(255, 255, 255);
}
.flexible-marker-pink {
  background-color: rgb(255, 192, 203);
  color: rgb(0, 0, 0);
}
.flexible-marker-red {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
.flexible-marker-silver {
  background-color: rgb(192, 192, 192);
  color: rgb(0, 0, 0);
}
.flexible-marker-teal {
  background-color: rgb(0, 128, 128);
  color: rgb(255, 255, 255);
}
.flexible-marker-umber {
  background-color: rgb(99, 81, 71);
  color: rgb(255, 255, 255);
}
.flexible-marker-violet {
  background-color: rgb(238, 130, 238);
  color: rgb(0, 0, 0);
}
.flexible-marker-white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.flexible-marker-gray {
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
}
.flexible-marker-yellow {
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
}
.flexible-marker-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.dark .flexible-marker-amber {
  background-color: rgb(153, 115, 0);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-blue {
  background-color: rgb(0, 0, 153);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-cyan {
  background-color: rgb(0, 153, 153);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-brown {
  background-color: rgb(102, 26, 26);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-espresso {
  background-color: rgb(61, 35, 20);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-fuchsia {
  background-color: rgb(153, 0, 153);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-green {
  background-color: rgb(0, 77, 0);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-hotpink {
  background-color: rgb(153, 63, 108);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-indigo {
  background-color: rgb(45, 0, 78);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-jade {
  background-color: rgb(0, 101, 64);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-kiwi {
  background-color: rgb(85, 137, 38);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-lime {
  background-color: rgb(0, 153, 0);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-magenta {
  background-color: rgb(153, 0, 153);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-navyblue {
  background-color: rgb(0, 0, 77);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-orange {
  background-color: rgb(153, 99, 0);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-purple {
  background-color: rgb(77, 0, 77);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-pink {
  background-color: rgb(153, 115, 122);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-red {
  background-color: rgb(153, 0, 0);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-silver {
  background-color: rgb(115, 115, 115);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-teal {
  background-color: rgb(0, 77, 77);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-umber {
  background-color: rgb(59, 49, 43);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-violet {
  background-color: rgb(143, 78, 143);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-white {
  background-color: rgb(153, 153, 153);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-gray {
  background-color: rgb(77, 77, 77);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-yellow {
  background-color: rgb(153, 153, 0);
  color: rgb(255, 255, 255);
}
.dark .flexible-marker-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.md-editor-toolbar-left {
  display: flex;
  flex-wrap: wrap;
}

.emojis li {
  height: auto;
  min-height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
}
.md-editor-modal-mask {
  z-index: 9 !important;
}
.md-editor-modal {
  z-index: 10 !important;
}