[Unit]
Description=Upgrade the denser integration site in %f every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=20s

[Install]
WantedBy=timers.target
